<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Internal Server Error (500)</title>
    </head>
    <body>
      <h1>Internal Server Error (500)</h1>
      <p>{{ msg }}</p>
    </body>
</html>
