// Neutral / Grayscale

$color-white: #ffffff;

$color-gray-1: #f4f5f6;
$color-gray-2: #dde0e3;
$color-gray-3: #c7ccd1;
$color-gray-4: #b0b8bf;
$color-gray-5: #9aa3ac;
$color-gray-6: #848f9a;
$color-gray-7: #6e7a87;
$color-gray-8: #5c6670;
$color-gray-9: #49525a;
$color-gray-10: #373d43;
$color-gray-11: #25292d;

$color-black: #121416;

// Primary / Base

$color-blue-1: #ecebff;
$color-blue-2: #c5c2ff;
$color-blue-3: #9e99ff;
$color-blue-4: #6c63ff; // main
$color-blue-5: #3d33ff;
$color-blue-6: #0c00f5;
$color-blue-7: #0900b8;

$color-primary-1: $color-blue-1;
$color-primary-2: $color-blue-2;
$color-primary-3: $color-blue-3;
$color-primary-4: $color-blue-4; // main
$color-primary-5: $color-blue-5;
$color-primary-6: $color-blue-6;
$color-primary-7: $color-blue-7;

// Complementary

$color-yellow-1: #fff1c2;
$color-yellow-2: #ffe799;
$color-yellow-3: #ffe799;
$color-yellow-4: #ffde70;
$color-yellow-5: #ffd449; // main
$color-yellow-6: #ffc60a;
$color-yellow-7: #cc9c00;
$color-yellow-8: #8f6d00;

// Accents / Miscellaneous

$color-purple-1: #e9d6ff;
$color-purple-2: #d3adff;
$color-purple-3: #be85ff;
$color-purple-4: #a658ff; // main
$color-purple-5: #871fff;
$color-purple-6: #6900e0;
$color-purple-7: #4c00a3;

$color-light-blue-1: #d6ebff;
$color-light-blue-2: #add6ff;
$color-light-blue-3: #85c2ff;
$color-light-blue-4: #f7acff; // main
$color-light-blue-5: #1f8fff;
$color-light-blue-6: #0070e0;
$color-light-blue-7: #0052a3;

// Danger

$color-red-1: #ffc2c2;
$color-red-2: #fe9a9a;
$color-red-3: #f37171;
$color-red-4: #fe4a49; // main
$color-red-5: #fe0b0b;
$color-red-6: #cb0101;
$color-red-7: #8e0101;

$color-danger-1: $color-red-1;
$color-danger-2: $color-red-2;
$color-danger-3: $color-red-3;
$color-danger-4: $color-red-4; // main
$color-danger-5: $color-red-5;
$color-danger-6: $color-red-6;
$color-danger-7: $color-red-7;

// Warning

$color-warning-1: $color-yellow-1;
$color-warning-2: $color-yellow-2;
$color-warning-3: $color-yellow-3;
$color-warning-4: $color-yellow-4; // main
$color-warning-5: $color-yellow-5;
$color-warning-6: $color-yellow-6;
$color-warning-7: $color-yellow-7;
$color-warning-8: $color-yellow-8;

// Success

$color-green-1: #b6ff85;
$color-green-2: #91ff47;
$color-green-3: #6cff0a;
$color-green-4: #52cc00; // main
$color-green-5: #41a300;
$color-green-6: #317a00;
$color-green-7: #215200;

$color-success-1: $color-green-1;
$color-success-2: $color-green-2;
$color-success-3: $color-green-3;
$color-success-4: $color-green-4; // main
$color-success-5: $color-green-5;
$color-success-6: $color-green-6;
$color-success-7: $color-green-7;
