$border-radius-lg: 6px;
$border-radius-sm: 4px;
$border-radius: 5px;

$box-shadow-inset-light: inset 0 2px 8px rgba($color-black, 0.02);
$box-shadow-inset: inset 0 2px 8px rgba($color-black, 0.075);
$box-shadow-lg: 0 8px 32px rgba($color-black, 0.175);
$box-shadow-sm: 0 2px 4px rgba($color-black, 0.075);
$box-shadow: 0 4px 16px rgba($color-black, 0.15);
